*{
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  margin: auto;
}
.container{
  width: 1200px;
  height: 600px;
  background-color: rgba(196, 196, 196, 0.137);
  border-radius: 10px;
  position: absolute;
}
.container .signup{
  position:absolute ;
  top: 50px;
  right: 20px;
}
 .signup {
  /* height: 10px;
  width: auto; */
  border-radius: 6px;
  text-align: center;
  background-color: rgb(234, 172, 205);
}
.container .right-child{
  width: 1000px;
  height: 550px;
  background-color: rgb(235, 211, 219);
  position: absolute;
  top: 25px;
  left: 20px;
  border-radius: 10px;
}
.role-buttons {
  display: flex;
  gap: 10px;
  background-color: #f8ebe8;
  border-radius: 2px 2px 2px 2px;
  padding: 20px;
}

.role-buttons button {
  border: none;
  /* padding: 8px 18px; */
  border-radius: 20px;
}

.tenant {
  background-color: #1a237e;
  color: #fff;
}

.landlord {
  background-color: #fff;
  border: 1px solid #ccc;
}

h1 {
  font-size: 2.5rem;
}

.search-box {
  background: #fff;
  /* padding: 15px; */
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 15cm;
  position: absolute;
  left: 20px;
}

.search-top {
  display: flex;
  gap: 10px;
}

.search-top input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.search-top button {
  background-color: #ff5a5f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.filters {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.filters select {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
header h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: navy;
}
header {
  display: flex;
  justify-content: space-between;
}
header nav a{
  text-decoration: none;
  color: navy;
}
.container .left-child img{
  width: 400px;
  height: 450px;
  border-radius: 10px;
  position: absolute;
  top: 100px;
  right: 50px;
}
/* .container .left-child{
  border-radius: 20px; */
}