*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background-color: #ffffff;
  color: #0b1030;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  position: fixed;
  backdrop-filter: blur(4px);
}
.logo {
  color: #1a237e;
  width: 100px;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.signup {
  border: 1px solid #ccc;
  padding: 6px 14px;
  border-radius: 20px;
}

.signup:hover {
  background-color: #ff5a5f;
  color: #fff;
}
/* Left section */
.left {
  margin-top: 50px;
  margin: 10px;
  top: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 1000px;
  height: 700px;
  background-color: #f8ebe8;
  padding: 60px;
  border-radius: 10px 0 40px 0;
}

.role-buttons {
  display: flex;
  gap: 10px;
  background-color: #f8ebe8;
  border-radius: 2px 2px 2px 2px;
  padding: 20px;
}

.role-buttons button {
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
}

.tenant {
  background-color: #1a237e;
  color: #fff;
}

.landlord {
  background-color: #fff;
  border: 1px solid #ccc;
}

h1 {
  font-size: 2.5rem;
}

.search-box {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 18cm;
}

.search-top {
  display: flex;
  gap: 10px;
}

.search-top input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.search-top button {
  background-color: #ff5a5f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.filters {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.filters select {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
/* Right section */
.right {
  position: absolute;
  top: 100px;
  right: 200px;
}
main .right img{
  top: 100px;
  right: 100px;
}

.right img {
  width: 400px;
  height: 500px;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

/* .tag {
  position: absolute;
  background: #fff;
  padding: 6px 10px;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  font-size: 0.8rem;
}

.landlord {
  top: 20px;
  left: 20px;
}

.tenant {
  bottom: 20px;
  right: 20px;
} */