.box-container{
    margin: auto;
    width: 1000px;
    height: 600px;
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    box-shadow: 5px 5px 5px rgb(83, 80, 80);
    position: relative;
}
.box-container .box{
    flex: 0 0 50%;
}
.box-container .box:nth-child(1){
    background-color: white;
}
.box-container .box:nth-child(2){
    background-color: rgb(223, 80, 80);
}
.box .box-1{
    width: 200px;
    height: 100px;
    border: 2px solid rgb(255, 255, 255);
    background-color: seagreen;
}
.box .box-1 h2{
    color: azure;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.box-container img{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 100px;
    right: 350px;

}
.box-1 ul li{
    list-style: none;
    padding: 20px;
}
.box2 nav{
    width: 100%;
}
.box2 nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
