.parent-container{
    /* margin: auto; */
    padding: 10px;
    width: 1000px;
    border: 2px solid rgb(59, 54, 54);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 150px;
    color: antiquewhite;
    gap: 5px;
    background-color: rgb(64, 60, 60);
}
.container{
    padding: 0.5cm;
    border: 2px solid white;
}
.parent-container .container:nth-child(1){
    grid-column: span 3;
}
.parent-container .container:nth-child(2){
    grid-row: span 2;
}
.parent-container .container:nth-child(3), .container:nth-child(4){
    grid-row: span 1;
    grid-column: span 1;
}
.parent-container .container:nth-child(5){
    grid-column: span 2
}
.parent-container .container:nth-child(6){
    grid-column: span 3;
}