/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.card{
    width: 190px;
    height: 270px;
    background-color: rgb(14, 14, 46);
    border-radius: 10px;
    position: relative;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card h2{
    z-index: 1;
    color: aliceblue;
    font-size: 2em;
    /* z-index: 1; */
}
.card::before{
    content: "";
    width: 100%;
    height: 130%;
    background: linear-gradient(45deg,rgb(0,183,255),rgb(255,48,255));
    position: absolute;
    animation: roundScreen 2s linear infinite;
}
@keyframes roundScreen{
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}
.card::after{
    content: "";
    width: 97%;
    height: 97%;
    background-color:  rgb(14, 14, 46);
    /* inset: 5px; */
    position: absolute;
}
.menu{
    padding: 5px;
    width: 50vw;
    height: 50px;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    margin: 20px auto;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;

}
.menu li{
    transition: all 2s ease;
    position: relative;
}
.menu li:hover{
    color: blue;
    cursor: pointer;
}
.submenu{
    width: 100px;
    background-color: green;
    position: absolute;
    top: 40px;
    transform: scaleY(0);
    transition: all 2s ease;
    transform-origin: top;
    z-index: 1;
}
.submenu li{
    padding: 10px;
    list-style: none;

}
.menu li:hover .submenu{
    transform: scaleY(1);

}
.carousel{
    width: 500px;
    height: 150px;
    border: 2px double black;
    margin: 20px auto;
    display: flex;
    gap: 5px;
    /* justify-content: center; */
    overflow-x: scroll;


}
.carousel::-webkit-scrollbar{
    display: none;
}
.group{
    gap: 5px;
    display: flex;
    justify-content: center;
    animation: carouselEffect 10s linear infinite;
}
.carousel-item{
    /* flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 10em; */
    flex: 0 0 10em;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    /* animation: carouselEffect 2s linear infinite; */
}
@keyframes carouselEffect{
    from{
translate: 0px;
    }
    to{
translate: -100%;
    }
}