/*
1. Simple selector :
 =>Id selector
 =>class name selector
 =>tag name selector
 =>group name selector
 =>Universal selector
2.Combine selector
*/

/* ! id selector*/
#paragraph1{
    background-color: red;
}
/* class selector*/
.classroompara{
    color: aqua;
}
/* tag selector*/
h1{
    background-color: blue;
}
/* group selector*/
p,h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* universal selector*/
*{
    font-style: oblique;
}